@import 'variables';

.card {
    background: $white;
    border: 10px solid $grey;
    width: 20rem;
    overflow: hidden;
    margin: $spacing;
    text-align: center;
    display: inline-block;

    .card_image {
        background-image: url('https://picsum.photos/300/300');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
    }

    .card_content {
        padding: 2rem $spacing $spacing $spacing;
        position: relative;
    }

    .card_title {
        font-family: $headerfont;
    }
    
    .card_price {
        display: inline-block;
        background: orange;
        padding: 10px;
        color: #ffff;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -15px);
    }

    .card_description {
        font-size: $descriptionFontSize;
        font-weight: $lightWeight;
        line-height: 20px;
        padding-top: 10px;
    }

    .card_footer_content {
        padding: $spacing;
        border-top: 1px solid $grey;
    }

    p.card_footer_text {
        white-space: normal;
        overflow-wrap: break-word;
        max-width: 20%;
        margin: 0 auto;
        font-size: $footerFontSize;
        font-weight: $lightWeight;
    }


}