$bodyfont: 'Poppins', Helvertica, sans-serif;
$headerfont: 'Times';
$primary-color: #000;
$spacing: 1rem;
$grey: #eeeef0;
$white: #ffff;
$orange: orange;
$descriptionFontSize: 12px;
$footerFontSize: 12px;
$lightWeight: 300;